$nav-height: 80px;
$header-height: 80vh;
$header-height-tablet: 60vh;
$header-height-mobile: 42vh;
$dark-orange: #ff6512;
$medium-orange: #ffa000;
$light-orange: #ffae00;
$fixed-menu-scroll-color: chocolate;
$smallMobileScreen: 320px;
$largestMobileScreen: 768px;
$mobileBreakpoint: 991px;
$smallMonitorBreakpoint: 1200px;
$largeMonitorBreakpoint: 1201px;
